.scroll-down {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
}

.scroll-name {
  color: var(--text-color);
  font-size: var(--small-font-size);
  user-select: none;
}

.mouse {
  border: 2px solid var(--title-color);
  display: block;
  height: 1.6rem;
  width: 1.25rem;
  margin: auto;
  margin-top: .75rem;
  border-radius: 1rem;
  position: relative;
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}

.wheel {
  background-color: var(--title-color);
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 2s linear infinite;
}

@media(pointer: coarse) {
  .mouse {
    height: 2rem;
    border-radius: 0.3rem;
  }
  .wheel {
    width: 0.5rem;
    height: 0.5rem;
    opacity: .7;
  }
}

@media screen and (max-width: 768px) {
  .scroll-down {
    bottom: 25%;
  }
}