.technical-skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1.25rem;
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  height: auto;
}

.skill-icon {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-title {
  margin-top: 0.25rem;
  font-size: var(--smaller-font-size);
}

@media screen and (max-width: 1024px) {
  .skill-icon {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {
  .technical-skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1rem;
    justify-items: center;
  }
  .skill-title {
    text-align: center;
  }
}

@media screen and (max-width: 350px) {}