.skills-container {
  grid-template-columns: 6fr 4fr;
  column-gap: 1.875rem;
}

@media screen and (max-width: 1024px) {
  .skills-container {
    grid-template-columns: 720px;
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 350px) {}