.about-container {
  grid-template-columns: 2fr 9fr;
  column-gap: 1.875rem;
  justify-items: center;
}

.about-img {
  width: 7rem;
  height: 7rem;
}

.about-data {
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
  align-items: flex-start;
  position: relative;
}

.about-data::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid var(--container-color);
  position: absolute;
  left: -0.93rem;
  top: 20%
}

.about-description {
  user-select: none;
  margin-bottom: 1rem;
  text-align: justify;
}

.about-download-resume-btn {
  text-align: center;
  white-space: nowrap;
}

.about-positions {
  row-gap: 1.25rem;
}

.positions-title {
  display: flex;
  justify-content: center;
  user-select: none;
}

.position {
  border: 2.5px solid var(--border-color);
  border-radius: 1.875rem;
}

.frontend {
  background-color: var(--lt-yellow-bg-color);
}

.qa-engineer {
  background-color: var(--lt-green-bg-color);
}

.position-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin:  1rem 0;
  user-select: none;
}

.position-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.positions-quantity {
  line-height: 1.2;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .about-container {
    grid-template-columns: 720px;
    justify-content: center;
    row-gap: 1.875rem;
  }
  .about-data::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    left: 49%;
    top: -20px;
  }
  .about-img {
    justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    grid-template-columns: 350px;
  }
  .about-data::before {
    left: 47%;
  }
  .about-data {
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
  }
  .about-download-resume-btn {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .about-container {
    grid-template-columns: 320px;
  }
}

@media screen and (max-width: 350px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}