.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  max-width: 540px;
  text-align: center;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-img {
  margin-bottom: 1.5rem;
  width: 150px;
  height: 150px;
  border: 5px solid var(--border-color);
  border-radius: 50%;
}
.home-img > g:first-child {
  fill: var(--second-color);
}

.home-name {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
}

.home-speciality {
  user-select: none;
  margin-bottom: 0.5rem;
}

.home-codewars-badge {
  width: 150px;
}
@media screen and (max-width: 1024px) {
  .home-codewars-badge {
    width: 125px;
  }
}

.home-contact-btn {
  width: 180px;
  white-space: nowrap;
}