.language-skills {
  display: grid;
  row-gap: 1.25rem;
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.language-skills-title {
  text-align: center;
}

.language-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.language-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

// .language-level {
//   line-height: 1.2;
// }

.language-bar,
.language-percentage {
  height: 7px;
  border-radius: 0.25rem;
}

.language-bar {
  background-color: #f1f1f1;
}

.language-percentage {
  display: block;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {
  .language-skills {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 350px) {}