.aside {
  position: fixed;
  left: 0;
  top: 0;
  background: var(--body-color);
  border-right: 1.5px solid hsla(204, 23%, 41%, 0.3);
  padding:  2.5rem;
  width: 110px;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition: .3s;
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.nav-link > svg {
  width: 1.75rem;
  height: 1.75rem;
}
.nav-link > svg > g {
  fill: var(--lt-green-bg-color);
  transition: .3s;
}
@media(pointer: fine) {
  .nav-link:hover > svg > g {
    fill: var(--lt-yellow-bg-color);
    transition: .3s;
  }
}
@media(pointer: coarse) {
  .nav-link:hover > svg > g {
    animation: select-filling 1s linear;
  }
}
@keyframes select-filling {
  0% {
    fill: var(--lt-green-bg-color);
  }
  50% {
    fill: var(--lt-yellow-bg-color);
  }
  100% {
    fill: var(--lt-green-bg-color);
  }
}

.copyright {
  color: var(--dk-gray-bg-color);
  opacity: 0.6;
  font-size: var(--small-font-size);
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  user-select: none;
  cursor: default;
}

.nav-toggle {
  position: fixed;
  top: 2rem;
  left: 1.875rem;
  cursor: pointer;
  height: 40px;
  width: 45px;
  background-color: var(--body-color);
  border: 1.5px solid hsla(204, 23%, 41%, 0.3);
  border-radius: 10%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: .3s;
  width: 35px;
  height: 35px;
  padding: 16px 5px;
  margin: 10px 10px;
}
.nav-toggle > g {
  fill: var(--border-color);
}

@media screen and (max-width: 1024px) {
  .aside {
    left: -110px;
  }
  .nav-toggle {
    display: flex;
  }
  .nav-toggle-open {
    left: 140px;
  }
  .show-menu {
    left: 0;
  }
}