// .experience {}

.experience-container {
  grid-template-columns: 1fr;
}

.experience-timeline {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: var(--shadow);
}

@media screen and (max-width: 1024px) {
  .experience-container {
    grid-template-columns: clamp(500px, 90%, 720px);
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 576px) {
  .experience-container {
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }
}

// @media screen and (max-width: 1024px) {
//   .experience-container {
//     grid-template-columns: 450px;
//     justify-content: center;
//     row-gap: 1.875rem;
//   }
// }

// @media screen and (max-width: 576px) {
//   .experience-container {
//     grid-template-columns: 1fr;
//   }
// }